<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JOB SIMULATION</title>
    </head>
    <body>
        <div>
            <br><br>
        </div>
        <form action="/app" method="POST">
            <label>Search By ID</label>
            <input type="text" name="idNumber" placeholder="Enter National ID">
            <input type="text" name="sfId" placeholder="Enter Salesforce ID">
            <button type="submit" id="get-id-btn">Search</button>
        </form>
    </body>
</html>
