<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JOB SIMULATION</title>
    </head>
    <body>
        <p><h1>WELCOME !</h1></p>
        <h3>Want to search applicants by their ID</h3><br>
        <!-- <form action="/app" method="GET">
            <label> Click Here </label>
            <button type="submit"></button>
        </form> -->
        <a href=" https://job-simulation-heroku.herokuapp.com/app">Click Here</a>
    </body>
</html>
