<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>JOB SIMULATION</title>
    </head>
    <body>
        <p><h1>Results</h1></p><br>
        <div>
            <label>Name:</label>
            <span><%= name %></span>
        </div>
        <div>
            <label>Phone:</label>
            <span><%= phone %></span>
        </div>
        <div>
            <label>Grade:</label>
            <span><%= grade %></span>
        </div>
    </body>
</html>
